# SPDX-FileCopyrightText: Magenta ApS <https://magenta.dk>
# SPDX-License-Identifier: MPL-2.0

stages:
  - sync
  - lint
  - build
  - test
  - coverage
  - release
  - deploy
  - docs

variables:
  RELEASE_REGISTRY_IMAGE: index.docker.io/magentaaps/os2mo-ldap-import-export

  IMAGE_SHA: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_SHA}

  PRODUCT: os2mo
  COMPONENT: ldapimportexport

  PYTEST_COV_MODULE: mo_ldap_import_export
  PYTEST_COV_FAIL_UNDER: 100

  POETRY_VERSION: "1.8"
  PRECOMMIT_USE_POETRY: "true"

  OS2MO_INIT_CONFIG: "/builds/$CI_PROJECT_PATH/init.config.yaml"

# Conditions
#############
# Global Conditions
.if-default-branch-refs: &if-default-branch-refs
  if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

.if-tag: &if-tag
  if: "$CI_COMMIT_TAG"

.if-merge-request: &if-merge-request
  if: "$CI_MERGE_REQUEST_IID"

include:
  - project: labs/salt-automation
    file:
      - gitlab-ci-templates/common/no-interrupt.v1.yml
      - gitlab-ci-templates/common/conventional-commits.v1.yml
      - gitlab-ci-templates/common/conventional-commits-changelog.v1.yml
      - gitlab-ci-templates/common/docker-build.v1.yml
      - gitlab-ci-templates/common/docker-release.v1.yml
      - gitlab-ci-templates/common/config-updater-salt.v1.yml
  - project: labs/salt-automation
    file:
      - gitlab-ci-templates/common/pre-commit.v1.yml
    rules:
      - <<: *if-merge-request
  - project: labs/salt-automation
    file:
      - gitlab-ci-templates/python/pytest.v1.yml
    inputs:
      pytest_addopts: "-m 'not integration_test'"
    rules:
      - <<: *if-merge-request
  - project: rammearkitektur/os2mo
    file:
      - gitlab-ci-templates/integration-test-meta.v1.yml

# Workflow
###########
workflow:
  rules:
    - <<: *if-tag
      variables:
        # Override the IMAGE_SHA variable on tag pipelines to avoid both the default
        # branch pipeline and tag pipeline overriding each other's images arbitrarily when
        # they are both running at the same time on master.
        IMAGE_SHA: ${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG}
    - <<: *if-default-branch-refs
    - <<: *if-merge-request

Integration-test:
  extends:
    - .integration-test:mo
  services:
    - !reference [.services:mo-backing, services]
    - name: quay.io/564bff00ff/os2mo:off-by-zero-1
      alias: mo
      # NOTE: These variables are duplicated from .variables:mo.variables above.
      # Ideally, we would simply `!reference [ .variables:mo, variables ]` to avoid
      # duplication, but while that works for the GitLab CI pipeline *in this repo*,
      # it DOES NOT work in other repos which `include` the template and extend it.
      # This is because `!reference` actually imports the referenced values as a
      # (nested) LIST and depends on the fact that most tags (such as `script`) know
      # how to unflatten the nested lists (up to a limit of 10). The `variables` tag
      # has bad support for this un-nesting, and therefore does not work properly when
      # we have too many layers of references and nested lists. Therefore:
      # YOU CANNOT REFACTOR THIS AND ASSUME IT WORKS IF THE PIPELINE HERE IS GREEN!
      # https://gitlab.com/gitlab-org/gitlab/-/issues/434157
      variables:
        # https://docs.python.org/3/library/devmode.html
        PYTHONDEVMODE: "1"
        PYTHONMALLOC: "default"

        DB_HOST: "mox-db"
        DB_NAME: "mox"
        DB_USER: "mox"
        DB_PASSWORD: "mox"

        KEYCLOAK_SCHEMA: "http"
        KEYCLOAK_PORT: 8080
        KEYCLOAK_AUTH_SERVER_URL: "http://keycloak:8080/auth/"
        KEYCLOAK_VERIFY_AUDIENCE: "false"

        ENVIRONMENT: "testing"
        LORA_AUTH: "false"
        INSECURE_ENABLE_TESTING_API: "true"

        AMQP_ENABLE: "true"
        AMQP_URL: "amqp://guest:guest@msg-broker:5672/"
      entrypoint:
        - "sh"
        - "-c"
        - |
          while ! ./docker/start.sh; do
            sleep 1
          done
    - name: magentaaps/os2mo-init:5
      variables:
        CONFIG_FILE: $OS2MO_INIT_CONFIG
        MO_URL: "http://mo:5000"
        CLIENT_ID: "dipex"
        CLIENT_SECRET: "603f1c82-d012-4d04-9382-dbe659c533fb"
        AUTH_SERVER: "http://keycloak:8080/auth"
        AUTH_REALM: "mo"
      entrypoint:
        - "sh"
        - "-c"
        - |
          if [ -n "$OS2MO_INIT_CONFIG" ]; then
            while ! python -m os2mo_init; do
              sleep 1
            done
          else
            echo 'OS2MO_INIT_CONFIG is empty: Skipping OS2mo-init'
          fi
          touch /builds/.os2mo-init-finished
    - name: postgres:18
      alias: db
      command: ["postgres", "-c", "port=54321"]
      variables:
        POSTGRES_USER: "fastramqpi"
        POSTGRES_PASSWORD: "fastramqpi"
        POSTGRES_DB: "fastramqpi"
    - name: osixia/openldap:1.5.0
      alias: ldap
      command: ["--copy-service", "--loglevel", "debug"]
      variables:
        LDAP_ORGANISATION: "magenta"
        LDAP_DOMAIN: "magenta.dk"
        LDAP_ADMIN_PASSWORD: "AdminPassword123"
        LDAP_CONFIG_PASSWORD: "ConfigPassword123"
        LDAP_LOG_LEVEL: 512
  parallel: 8
  variables:
    FASTRAMQPI__JSON_LOGS: False
    # LDAP: Connection
    LDAP_CONTROLLERS: '[{"host": "ldap"}]'
    LDAP_DOMAIN: "magenta.dk"
    LDAP_USER: "cn=admin,dc=magenta,dc=dk"
    LDAP_PASSWORD: "AdminPassword123"
    LDAP_AUTH_METHOD: "simple"
    LDAP_DIALECT: "Standard"
  rules:
    - <<: *if-merge-request
